@font-face {
        font-family: freight-sans-pro;
        src: url(https://fonts.typekit.net/af/38580f/000000000000000000010b58/27/l?subset_id=2&fvd=n3) format("woff2");
        font-weight: 300;
        font-style: normal;
    }
    
@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/58b7ff/000000000000000000010b59/27/l?subset_id=2&fvd=i3) format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/3b068a/000000000000000000010b5a/27/l?subset_id=2&fvd=n4) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/d3755d/000000000000000000010b5b/27/l?subset_id=2&fvd=i4) format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/03d4ad/000000000000000000010b5c/27/l?subset_id=2&fvd=n5) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/ff10a4/000000000000000000010b5d/27/l?subset_id=2&fvd=i5) format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/8ac0b0/000000000000000000010b5e/27/l?subset_id=2&fvd=n6) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/e8560e/000000000000000000010b5f/27/l?subset_id=2&fvd=i6) format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/58d56b/000000000000000000010b60/27/l?subset_id=2&fvd=n7) format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/8d0db2/000000000000000000010b61/27/l?subset_id=2&fvd=i7) format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/0f300d/000000000000000000010b62/27/l?subset_id=2&fvd=n9) format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: freight-sans-pro;
    src: url(https://fonts.typekit.net/af/8c5807/000000000000000000010b63/27/l?subset_id=2&fvd=i9) format("woff2");
    font-weight: 900;
    font-style: italic;
}