footer#footer
  .footer-inner.container
    .row
      .col-md-12
          p.text-center #{i18n("footer:see_you_there")}
          form(id="language-form", style="display: none")
            p.text-center
              select(name="language-select")
                option(value="") Select a Language
                option(value="en") English
                option(value="zh") Chinese