// Main jumbotron for a primary marketing message or call to action
.image-container
  .bg-image.bg-image-wedding.bg-center-center(alt='', data-top-top='transform:scale(1.2) translate(0%, 8%)', data-top-bottom='transform:scale(1.2) translate(-8%, 8%)')
    .color-overlay
  .desc-wrapper
    h1.display-2 #{i18n(location + ':wedding:title')}
    p #{i18n(location + ':wedding:date_location')}
    .button-div
      button.btn.hk-btn(class=(location == "hk" ? "btn-warning" : "btn-default"), type='button')
        | #{i18n("hk:wedding:option")}
      &nbsp;
      button.btn.macau-btn(class=(location == "hk" ? "btn-default" : "btn-warning"), type='button') 
        | #{i18n("macau:wedding:option")}
