#photo-gallery.jumbotron
  .container
    .row
      h1.text-center.entrytitle #{i18n("photo_gallery:txt1")}
    .row
      each image in images
        .col-md-4.padding-top-bottom-15
          a(href='#{image.img}')
            img(title='', alt='', src='#{image.thumb}')
    .row
      p.text-center #{i18n("photo_gallery:txt2")}