// Main jumbotron for a primary marketing message or call to action
.image-container
  .bg-image-rsvp.bg-image-wedding.bg-center-bottom(alt='')
    .color-overlay
  .desc-wrapper
    h1.display-2 #{i18n(location + ':rsvp:title')}
    p #{i18n(location + ':rsvp:description')}