div#infow-macau.infow
  div.infow-container
    h1.infow-title Mandarin Oriental
    div.infow-content
      p.infow-contact 
        | Mandarin Oriental, Macau Avenida Dr Sun Yat Sen, NAPE, Macau
        br
        a(href="http://www.mandarinoriental.com/" target="_blank")
          | http://www.mandarinoriental.com/macau
      p.infow-description
        | One of the most exclusive hotels in Macau, Mandarin Oriental, Macau is a decidedly elegant five-star retreat. With a chic, contemporary design, fabulous restaurants and legendary service, we offer a sophisticated atmosphere and unbeatable luxury.