div#infow-hk.infow
  div.infow-container
    h1.infow-title Royal Park Chinese Restaurant
    div.infow-content
      p.infow-contact 
        | 8 Pak Hok Ting Street, Shatin, Hong Kong
        br
        a(href="http://www.royalpark.com.hk" target="_blank")
          | http://www.royalpark.com.hk
      p.infow-description
        | Featuring Cantonese fare and sumptuous seafood delights, a visit to Royal Park Chinese Restaurant is an experience in itself. Delectable dim sum and other delicacies are served every day at lunch. Several well appointed VIP Rooms are also available; whether for small business gatherings or large wedding banquets, Royal Park Chinese Restaurant is your ideal choice.
