doctype html
//
  Overflow by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Overflow by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='assets/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
  body
    block content

    // Header
    section#header
      header
        h1 Overflow
        p By HTML5 UP
      footer
        a.button.style2.scrolly-middle(href='#banner') Proceed as anticipated
    // Banner
    section#banner
      header
        h2 This is Overflow
      p
        | A brand new site template designed by 
        a(href='http://twitter.com/ajlkn') AJ
        |  for 
        a(href='http://html5up.net') HTML5 UP
        | .
        br
        |         It’s fully responsive, built on 
        strong skel
        | , and of course entirely free
        br
        |         under the 
        a(href='http://html5up.net/license') Creative Commons license
        | .
      footer
        a.button.style2.scrolly(href='#first') Act on this message
    // Feature 1
    article#first.container.box.style1.right
      a.image.fit(href='#')
        img(src='images/pic01.jpg', alt='')
      .inner
        header
          h2
            | Lorem ipsum
            br
            |             dolor sit amet
        p
          | Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.
    // Feature 2
    article.container.box.style1.left
      a.image.fit(href='#')
        img(src='images/pic02.jpg', alt='')
      .inner
        header
          h2
            | Mollis posuere
            br
            |             lectus lacus
        p
          | Rhoncus mattis egestas sed fusce sodales rutrum et etiam ullamcorper. Etiam egestas scelerisque ac duis magna lorem ipsum dolor.
    // Portfolio
    article.container.box.style2
      header
        h2 Magnis parturient
        p
          | Justo phasellus et aenean dignissim
          br
          |           placerat cubilia purus lectus.
      .inner.gallery
        .row(class='0%')
          .3u(class='12u(mobile)')
            a.image.fit(href='images/fulls/01.jpg')
              img(src='images/thumbs/01.jpg', alt='', title='Ad infinitum')
          .3u(class='12u(mobile)')
            a.image.fit(href='images/fulls/02.jpg')
              img(src='images/thumbs/02.jpg', alt='', title='Dressed in Clarity')
          .3u(class='12u(mobile)')
            a.image.fit(href='images/fulls/03.jpg')
              img(src='images/thumbs/03.jpg', alt='', title='Raven')
          .3u(class='12u(mobile)')
            a.image.fit(href='images/fulls/04.jpg')
              img(src='images/thumbs/04.jpg', alt='', title="I'll have a cup of Disneyland, please")
        .row(class='0%')
          .3u(class='12u(mobile)')
            a.image.fit(href='images/fulls/05.jpg')
              img(src='images/thumbs/05.jpg', alt='', title='Cherish')
          .3u(class='12u(mobile)')
            a.image.fit(href='images/fulls/06.jpg')
              img(src='images/thumbs/06.jpg', alt='', title='Different.')
          .3u(class='12u(mobile)')
            a.image.fit(href='images/fulls/07.jpg')
              img(src='images/thumbs/07.jpg', alt='', title='History was made here')
          .3u(class='12u(mobile)')
            a.image.fit(href='images/fulls/08.jpg')
              img(src='images/thumbs/08.jpg', alt='', title='People come and go and walk away')
    // Contact
    article.container.box.style3
      header
        h2 Nisl sed ultricies
        p Diam dignissim lectus eu ornare volutpat orci.
      form(method='post', action='#')
        .row(class='50%')
          .6u(class='12u$(mobile)')
            input.text(type='text', name='name', placeholder='Name')
          .6u(class='6u$ 12u$(mobile)')
            input.text(type='text', name='email', placeholder='Email')
          .12u(class='12u$')
            textarea(name='message', placeholder='Message')
          .12u(class='12u$')
            ul.actions
              li
                input(type='submit', value='Send Message')
    // Generic
    article.container.box.style3
      header
        h2 Generic Box
        p Just a generic box. Nothing to see here.
      section
        header
          h3 Paragraph
          p This is a subtitle
        p
          | Phasellus nisl nisl, varius id 
          sup porttitor sed pellentesque
          |  ac orci. Pellentesque
          |           habitant 
          strong strong
          |  tristique 
          b bold
          |  et netus 
          i italic
          |  malesuada 
          em emphasized
          |  ac turpis egestas. Morbi
          |           leo suscipit ut. Praesent 
          sub id turpis vitae
          |  turpis pretium ultricies. Vestibulum sit
          |           amet risus elit.
      section
        header
          h3 Blockquote
        blockquote
          | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
          | tempus euismod. Vestibulum ante ipsum primis in faucibus.
      section
        header
          h3 Divider
        p
          | Donec consectetur 
          a(href='#') vestibulum dolor et pulvinar
          | . Etiam vel felis enim, at viverra
          |           ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
          |           facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
          |           tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          |           posuere cubilia.
        hr
        p
          | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
          | ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
          | facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
          | tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          | posuere cubilia.
      section
        header
          h3 Unordered List
        ul.default
          li
            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          li
            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          li
            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          li
            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
      section
        header
          h3 Ordered List
        ol.default
          li
            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          li
            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          li
            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
          li
            | Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.
      section
        header
          h3 Table
        .table-wrapper
          table.default
            thead
              tr
                th ID
                th Name
                th Description
                th Price
            tbody
              tr
                td 45815
                td Something
                td Ut porttitor sagittis lorem quis nisi ornare.
                td 29.99
              tr
                td 24524
                td Nothing
                td Ut porttitor sagittis lorem quis nisi ornare.
                td 19.99
              tr
                td 45815
                td Something
                td Ut porttitor sagittis lorem quis nisi ornare.
                td 29.99
              tr
                td 24524
                td Nothing
                td Ut porttitor sagittis lorem quis nisi ornare.
                td 19.99
            tfoot
              tr
                td(colspan='3')
                td 100.00
      section
        header
          h3 Form
        form(method='post', action='#')
          .row
            .6u
              input#name.text(type='text', name='name', value='', placeholder='John Doe')
            .6u
              input#email.text(type='text', name='email', value='', placeholder='johndoe@domain.tld')
          .row
            .12u
              select#department(name='department')
                option(value='') Choose a department
                option(value='1') Manufacturing
                option(value='2') Administration
                option(value='3') Support
          .row
            .12u
              input#subject.text(type='text', name='subject', value='', placeholder='Enter your subject')
          .row
            .12u
              textarea#message(name='message', placeholder='Enter your message')
          .row
            .12u
              ul.actions
                li
                  input(type='submit', value='Submit')
                li
                  input.style3(type='reset', value='Clear Form')
    section#footer
      ul.icons
        li
          a.icon.fa-twitter(href='#')
            span.label Twitter
        li
          a.icon.fa-facebook(href='#')
            span.label Facebook
        li
          a.icon.fa-google-plus(href='#')
            span.label Google+
        li
          a.icon.fa-pinterest(href='#')
            span.label Pinterest
        li
          a.icon.fa-dribbble(href='#')
            span.label Dribbble
        li
          a.icon.fa-linkedin(href='#')
            span.label LinkedIn
      .copyright
        ul.menu
          li © Untitled. All rights reserved.
          li
            | Design: 
            a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrolly.min.js')
    script(src='assets/js/jquery.poptrox.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
