div#map-container
  div#map
div.banner-container
  div.banner-location.banner-hk
    h1 Royal Park Chinese Restaurant
    p 8 Pak Hok Ting Street, Shatin, Hong Kong
    a(href="http://www.royalpark.com.hk" target="_blank") http://www.royalpark.com.hk
    p Featuring Cantonese fare and sumptuous seafood delights, a visit to Royal Park Chinese Restaurant is an experience in itself. Delectable dim sum and other delicacies are served every day at lunch. Several well appointed VIP Rooms are also available; whether for small business gatherings or large wedding banquets, Royal Park Chinese Restaurant is your ideal choice.
  div.banner-location.banner-macau
    h1 Mandarin Oriental
    p Mandarin Oriental, Macau Avenida Dr Sun Yat Sen, NAPE, Macau
    a(href="http://www.mandarinoriental.com/" target="_blank") http://www.mandarinoriental.com/macau
    p One of the most exclusive hotels in Macau, Mandarin Oriental, Macau is a decidedly elegant five-star retreat. With a chic, contemporary design, fabulous restaurants and legendary service, we offer a sophisticated atmosphere and unbeatable luxury.
footer
  div.hk-btn-container
    a#hk-btn.button.style2.scrolly(href='javascript:void(0)') Hong Kong
  div.macau-btn-container
    a#macau-btn.button.style2.scrolly(href='javascript:void(0)') Macau
  br.clear

